<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Cassandra web viewer</display-name>
    <filter>
        <filter-name>FrontFilter</filter-name>
        <filter-class>org.cassandra_viewer.FrontFilter</filter-class>
        <init-param>
            <param-name>DEFAULT_DESERIALZER</param-name>
            <param-value>0->boolean,1->bytes,2->date,3->integer,4->long,5->string,6->uuid,7->object,8->float</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FrontFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
